<a href="https://colab.research.google.com/github/tariqzahratahdi/PythonProgramming/blob/main/course_python_programming_conditional_structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Conditional Structure

The conditional structure allows you to decide what processing to do depending on whether a condition is true or not.

# **`if`** Statement
The **`if`** statement implements a simple conditional structure.

*Syntax*

<blockquote>
<font size="3">
<pre>
<font color="#af00db">if</font> boolean_expression :
   statements
</pre>
</font>
</blockquote>

If the value of the `boolean_expression` is `True`, then `statements` is executed.

**Example**

In [ ]:
discount = 0
amount = 1200

if amount > 1000 :
   discount = amount * 0.1

print('Payable amount = ', amount - discount)

Payable amount =  1080.0

# **`if else`** Statement

The **`if else`** else statement implements a compound conditional structure.

*Syntax*

<blockquote>
<font size="3">
<pre>
<font color="#af00db">if</font> boolean_expression :
   statements_1
<font color="#af00db">else</font> :
   statements_2
</pre>
</font>
</blockquote>

If `boolean_expression` is `True`, then `statements_1` is executed, else `statement_2` is executed.

**Example**

In [ ]:
amount = 1200

if amount > 1000 :
  discount = amount * 0.2
else :
  discount = amount * 0.1

print('Payable amount = ', amount - discount)

Payable amount =  960.0

# **`if elif else`** Statment

The **`if elif else`** statement implements a nested conditional structure.

*Synatx*

<blockquote>
<font size="3">
<pre>
<font color="#af00db">if</font> expression_1 :
   statements_1
<font color="#af00db">elif  expression_2</font> :
   statements_2
<font color="#af00db">elif expression_3</font> :
   statements_3
<font color="#af00db">else</font> :
   statements
</pre>
</font>
</blockquote>

Implementation with **`if else`**

<blockquote>
<font size="3">
<pre>
<font color="#af00db">if</font> expression_1 :
   statements_1
<font color="#af00db">else</font> :
   <font color="#af00db">if</font> expression_2 :
      statements_2
   <font color="#af00db">else</font> :
      <font color="#af00db">if</font> expression_3 :
         statements_3
      <font color="#af00db">else</font> :
         statements
</pre>
</font>
</blockquote>

**Example**

In [ ]:
amount = 2500

if amount > 10000 :
   discount = amount * 20 / 100
elif amount > 5000 :
   discount = amount * 10 / 100
elif amount > 1000 :
   discount = amount * 5 / 100
else :
   discount = 0

print('Payable amount = ', amount - discount)

Payable amount =  2375.0

# **`match`** Statement

The **`match`** statement implements a multiple conditional structure.

The basic use of the **`match`** statement is to compare a variable to several values.

*Syntax*

<blockquote>
<font size="3">
<pre>
<font color="#af00db">match</font> variable_name :
   <font color="#af00db">case</font> <font color="#116644">value_1</font> :
      statement_1
   <font color="#af00db">case</font> <font color="#116644">value_2</font>  :
      statement_2
   ...
   <font color="#af00db">case</font> <font color="#116644">value_n</font>  :
      statement_n
   <font color="#af00db">case</font> _ :
      statement
</pre>
</font>
</blockquote>

**Example**: the following program displays the name of the day of the week corresponding to a given integer.

In [ ]:
n = 5

match n :
   case 1: d = 'Monday'
   case 2: d = 'Tuesday'
   case 3: d = 'Wednesday'
   case 4: d = 'Thursday'
   case 5: d = 'Friday'
   case 6: d = 'Saturday'
   case 7: d = 'Sunday'
   case _: d = 'Invalid day number'

print(d)

Friday